<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/grid-layout.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://www.youtube.com/player_api"></script>
    <title>Youtube Real Time Party Player</title>
</head>
<body>
    <div class="grid-container">
        <div data-area="chat"></div>
        <div data-area="members"></div>
        <div data-area="aux"></div>

        <div data-area="content">
            <div class="main-div">
                <h3 class="text-center">Youtube Real Time Party Player</h3>
                <div id="dialog" class="hidden" role="document">
                    <img src="img/loading.gif">
                </div>
                <form action="#" method="POST" onsubmit="return processURL()">
                    <div class="search hidden">
                        <!--<span>-->
                            <input value="https://www.youtube.com/watch?v=dQw4w9WgXcQ" type="text" id="inputURL" name="inputURL" class="" placeholder="Youtube URL" required autocomplete="off">
                            <button class="btn btn-dark hidden" data-toggle="modal" data-target="#dialog" type="submit">Create room!</button>
                        <!--</span>-->
                    </div>
                </form>
                <div class="home">
                    <div id="home" class="hidden">
                        <a id="homeLink" href="/"><i>Don't you miss home?</i></a>
                    </div>
                    <script id='youtubeAPI' src='http://www.youtube.com/player_api'></script>
                </div>
                <div class="room-link hidden">
                    <input value="" readonly />
                    <a href="#">Copy me!</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>