<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="http://www.youtube.com/player_api"></script>
    <title>Youtube Real Time Party Player</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 main-div">
                <form action="#" method="POST" onsubmit="return processURL(socketio)">
                    <h1 class="h3 mb-3 font-weight-normal">Youtube Real Time Party Player</h1>
                    <div class="input-group search">
                        <input value="https://www.youtube.com/watch?v=dQw4w9WgXcQ" type="text" id="inputURL" name="inputURL" class="form-control" placeholder="Youtube URL" required autofocus autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Go!</button>
                        </span>
                    </div>
                </form>
                <!--<div id='player'>AAA</div>-->
                <!--<script src='http://www.youtube.com/player_api'></script>-->
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/script.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript">
        const socketio = io();
    </script>
    <!--<script type="text/javascript">-->

        <!--function onYouTubePlayerAPIReady() {-->

        <!--}-->


    <!--</script>-->
</body>
</html>