.container-fluid {
    width: 75% !important;
    margin-top: 2em;
}

.input-group-btn {
    margin-left: 5%;
}

iframe {
    width: 853px;
    height: 385px;
}

#inputURL {
    width: 66% !important;
}

.room-link input {
    width: 100%;
}