.input-group-btn {
    margin-left: 5%;
}
.hidden {
    display: none;
}
.room-link input {
    width: 75%;
}
.search {
    margin-top: 28%;
    display: inline-block;
}
.main-div {
    position: relative;
    top: 3em;
    text-align: center;
}
/* =========================================================== */
#player {
    margin-top: 2em;
}
#dialog {
    position: absolute;
    margin: 0 25%;
    z-index: 1;
}
h3 {
    margin-bottom: 1em;
    text-align: center;
}