.input-group-btn {
    margin-left: 5%;
}
.hidden {
    display: none;
}
/* =========================================================== */
#player {
    margin-top: 2em;
}
.room-link input {
    width: 75%;
}
h3{
    margin-bottom: 1em;
}